.top_section {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.top_section > header {
	background-color: lightgray;
	margin: 0.5%;
	height: 140px;
}

.top_section > div {
	background-color: lightgray;
	margin: 0.5%;
	height: 40px;
}

.main_section {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: left;
	height: 280px;
}

.main_section > nav {
	margin: 0.5%;
	background-color: lightgray;
	flex-grow: 2;
}

.main_section > article {
	background-color: lightgray;
	margin: 0.5%;
	flex-grow: 4;
	height: auto;
}

.bottom_section {
	margin: auto;
	width: 90%;
	height: 140px;
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.bottom_section > footer {
	background-color: lightgray;
	margin: 0.5%;
	flex-grow: 1;
}
