/* This is a C comment lol */
body {
	background-color: yellow;
}

p {
	color: orange;
	background-color: black;
	text-align: center;
}

h1, h2 {
	color: red;
	background-color: black;
	height: 150px;
	font-size: 30em;
}

h3 {
	color: blue;
	background-color: black;
}

ul {
	padding: 200px;
	color: purple;
	background-color: black;
}

ol {
	color: green;
	background-color: black;
	border: 10px solid magenta;
}

p.test_tag {
	color: #FF0012;
}

#test_id {
	color: blue;
}

.wrapper {
	width: 75vw;
	height: 75vh;
	background-color: lime;
	margin: auto;
}
